<div class="site-nav">
    <div class="nav-inner">
        <a class="nav-brand" href="">
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <circle cx="13" cy="13" r="12" stroke="#b2872e" stroke-width="1.5" />
                <polygon points="13,4 15.7,9.8 22,10.6 17.5,14.9 18.7,21.2 13,18 7.3,21.2 8.5,14.9 4,10.6 10.3,9.8" fill="#b2872e" />
            </svg>
            <span>Sports Club</span>
        </a>

        <input type="checkbox" title="Navigation menu" class="nav-toggler" />

        <div class="nav-menu" onclick="document.querySelector('.nav-toggler').click()">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
            <NavLink class="nav-link" href="events">Events</NavLink>
            <NavLink class="nav-link" href="users">Members</NavLink>
            <NavLink class="nav-link" href="about">About</NavLink>
            <AuthorizeView>
                <Authorized>
                    <NavLink class="nav-link" href="profile">My Profile</NavLink>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Roles="Administrator">
                <Authorized>
                    <NavLink class="nav-link nav-link-admin" href="admin/users">
                        <i class="bi bi-people"></i> User Management
                    </NavLink>
                    <NavLink class="nav-link nav-link-admin" href="admin/events">
                        <i class="bi bi-calendar-event"></i> Event Management
                    </NavLink>
                </Authorized>
            </AuthorizeView>
            <div class="nav-link-auth">
                <LoginDisplay />
            </div>
        </div>
    </div>
</div>

@using SportsClubEventManager.Web.Components.Authentication
